@import 'variables';

.newPost-container {
  min-height: 650px;
  margin-top: $navbarHeight;
  background-color: #282c34;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
}

.editor-wrapper {
  width: 60vw;
  margin: 50px auto 100px auto;
  padding: 10px;
  background-color: white;
  color: black;
  border-radius: 5px;
  button {
    padding: 10px 30px;
    margin: 10px;
    font-weight: 500;
    border-radius: 5px;
  }
}

.editor {
  border: 1px solid grey;
  padding: 12px;
  margin: 10px;
  border-radius: 5px;
  text-align: left;
}

.buttons-wrapper {
  button{
    margin: 10px;
    padding: 5px 10px;
    font-weight: 500;
    border-radius: 5px;
  }
  
}

.items-panel {
  position: fixed;
  top: 18vh;
  left: 2vw;
  display: flex;
  flex-direction: column;
  margin: 4vw 2vw;
  background-color: gray;

    button {
      padding: 10px;
      margin: 10px;
      border-radius: 5px;
    }
}