@import 'variables';

.input-components-container {
  min-height: 100vh - $navbarHeight - $footerHeight;
  margin-top: $navbarHeight;
  margin-bottom: $footerHeight;
  background-color: $backColor;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
}

.creator-header{
  input{
    display:block;
    width: $editorsWidth;
    padding: 8px;
    border-radius: 5px;
    font-size: $secondaryTitle
  }
  label {
    display: block;
    font-size: $secondaryTitle;
    margin: 10px;
  }
  button {
    @include standarButton($acceptColor);
    margin-left: 30px;
    display: block;
    margin: 0 auto;
  }
  select {
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
}

.editor-wrapper {
  width: $editorsWidth;
  margin: 50px auto;
  padding: 10px;
  background-color: white;
  color: black;
  border-radius: 5px;
  button {
    padding: 10px 30px;
    margin: 10px;
    font-weight: 500;
    border-radius: 5px;
  }
}

.editor {
  border: 1px solid grey;
  padding: 12px;
  margin: 10px 0;
  border-radius: 5px;
  text-align: left;
}

.buttons-wrapper {
  button{
    margin: 10px;
    padding: 5px 10px;
    font-weight: 500;
    border-radius: 5px;
  }
  
}

.items-panel {
  position: fixed;
  top: 18vh;
  left: 1vw;
  display: flex;
  flex-direction: column;
  background-color: $darkColor;

    .create-editor {
      padding: 10px;
      margin: 10px;
      border-radius: 5px;
    }

    .delete-editor{
      margin: 5px;
      padding: 3px 5px;
      border-radius: 10px;
      font-weight: 1000;
      color: white;
      background-color: rgb(161, 56, 56);
      border: 2px solid rgb(90, 48, 48);
    }
}

.graph-container {
  margin: 50px auto;
  width: $editorsWidth;
}

.graph-options {
  background-color: $darkColor;
  border-radius: 5px;
  fieldset {
    border: none;
  }
  .graph-labels {
    margin: 10px;
  } 
  label {
    margin: 0 15px;
  }
  select {
    margin: 10px;
    padding: 10px 20px;
    border-radius: 5px;
  }
}
.research-creator {

  width: $editorsWidth;

  button {
    margin: 10px auto;
    display: block;
    @include standarButton($acceptColor);
  }
  input {
    width: 50%;
    margin: 0 auto;
    display: block;
  }
}