$lightColor: #b4c7dc;
$darkColor: #7c93ac;
$backColor: #2e3e3f;
$ligtherBackColor: #3f5253;
$titleBackColor: #243031;
$acceptColor: rgba(87, 187, 104, 0.7);

$navbarHeight: 8vh;
$footerHeight: 7vh;
$mainTitle: 20px;
$navTextSize: 30px;
$secondaryTitle: 18px;
$basicSize: 16px;

$editorsWidth: 60vw;
$readersWidth: 80vw;

@mixin standarButton ($lightColor) {
  color: white;
  background-color: $lightColor;
  padding: 10px 5px;
  font-weight: 700;
  border-radius: 5px;
  transition: background-color 0.5s ease;

  &:hover {
    background-color: darken($lightColor, 10);
  }
}
